@page
@model NAVISTAR1.Pages.Own.Dept.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deapartment[0].DN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deapartment[0].DL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deapartment[0].DR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Deapartment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DR)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
